#home {
    background-image: url(../pic/밤바다.png);
    min-height: 172vh;
    height: 70%;
}
.bg {
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}
#logo {
    width: 100px;
    height: 70px;
    margin-top: 14px;
}
article{
    font-size: 1.25rem;
    margin-bottom: 100px;
}
h1{
    color: red;
}
.main-nav {
    display: flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
}
.main-nav li {
    margin-left: 36px;
}
.main-nav a{
    color: rgb(250, 250, 250);
}
.main-nav a:hover {
    color: rgb(243, 247, 9);
}
#home_2{
    background-image: url("http://photo.hankooki.com/webdownphoto/gisa/2018/05/30/20180530135200_1_april02_s.jpg");
    display: flex;
    justify-content: space-between;
    padding-right: 150px;
    padding-left: 110px;
}
.ele{
    width: 100px;
    height: 50px;
    margin-top: 14px;
}
a{
    text-decoration: none;
}
section{
    display: flex;
    position: absolute;
    left: 10%;
}
video{
    width: 300px;
}
footer{
    /* margin: 0 auto; */
    margin-top: 840px;
    margin-left: 10px;
}