#first-bg{
margin-left: 50%;
}
#korean {
    background: #f9f9f9;
    border: 1px solid #d6d6d6;
    width: 450px;
    height: 120px;
    overflow: auto;
    margin-left: 47px;
    margin-top: 40px;
}